<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Explore</ion-title>
    <ion-button slot="end" (click)="logout()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-slides class="gym-slider" slidesPerView="2">
    <ion-slide *ngFor="let gym of gyms">
      <ion-card routerLink="/gyms/{{gym.gymId}}">
        <img src="assets/img/{{img}}" class="gym-img" />
        <ion-card-title>{{gym.gymName}}</ion-card-title>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content> -->

<ion-content color="medium">
  <ion-searchbar></ion-searchbar>
  <!-- <ion-list>
    <ion-card *ngFor="let gym of gyms" routerLink="/gyms/{{gym.gymId}}">
      <img src="{{gymImageUrl + gym.profilePictureURL}}" />
      <ion-card-title>{{gym.gymName}}</ion-card-title>
    </ion-card>
  </ion-list> -->

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let gym of gyms">
        <img
          src="{{gymImageUrl + gym.profilePictureURL}}"
          routerLink="/gyms/{{gym.gymId}}"
        />
        <h3>{{gym.gymName}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
