<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Create New Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label>Gym: {{gymSlot?.gymEntity.gymName}}</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Date: {{gymSlotDate}}</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Start Time: {{gymSlot?.startTime}}</ion-label>
  </ion-item>

  <ion-item color="dark">
    <ion-label>End Time: {{gymSlot?.endTime}}</ion-label>
  </ion-item>

  <ion-button expand="block" (click)="confirm()">Confirm Booking</ion-button>
  <ion-button expand="block" color="danger" (click)="cancel()"
    >Cancel Booking</ion-button
  >
</ion-content>
