<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" type="text" required></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="text" required></ion-input>
  </ion-item>

  <ion-button
    class="ion-margin-top"
    type="submit"
    expand="block"
    color="light"
    (click)="login()"
  >
    Signin
  </ion-button>

  <ion-item color="medium" class="ion-text-center">
    <ion-label>Or</ion-label>
  </ion-item>

  <ion-button
    color="medium"
    expand="block"
    fill="outline"
    [routerLink]="['/createNewCustomer']"
    >Create Account</ion-button
  >
</ion-content>
