<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{gym?.gymName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img src="{{gymImageUrl}}" />
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Address: {{gym?.address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Operating Hours: {{gym?.operatingHours}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact Number: {{gym?.contactNumber}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-segment value="routes" [(ngModel)]="type">
    <ion-segment-button value="routes">
      <ion-label>Routes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="slots">
      <ion-label>Slots</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div id="slots" *ngSwitchCase="'slots'">
      <ion-datetime presentation="date" (ionChange)="dateChanged($event)"></ion-datetime>

      <ion-list>
        <ion-list-header color="primary">
          <ion-label>Slots</ion-label>
        </ion-list-header>
        <ion-card *ngFor="let gymSlot of gymSlots" (click)="onClick(gymSlot.gymSlotId)"
          [class.active]="selectedSlot == gymSlot.gymSlotId">
          <ion-card-title>{{gymSlot.startTime}} to {{gymSlot.endTime}}</ion-card-title>
          <ion-card-subtitle>
            Vacancies: {{gymSlot.vacancies}}
          </ion-card-subtitle>
        </ion-card>
        <ion-item *ngIf="gymSlots?.length == 0">No Slots Available :(</ion-item>
      </ion-list>

      <ion-button *ngIf="selectedSlot > 0" (click)="bookSlot()">Book Slot</ion-button>
    </div>

    <div id="routes" *ngSwitchCase="'routes'">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let route of routes">
            {{route.routeName}}
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-list class="ion-padding">
        <ion-item *ngFor="let route of routes">
          <ion-label>{{route.routeName}}</ion-label>
          <ion-label>{{route.routeRating}}</ion-label>
        </ion-item>
      </ion-list> -->
    </div>
  </div>
</ion-content>