<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{gym?.gymName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img src="{{gymImageUrl}}" />
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Address: {{gym?.address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Operating Hours: {{gym?.operatingHours}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact Number: {{gym?.contactNumber}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-segment value="routes" [(ngModel)]="type">
    <ion-segment-button value="routes">
      <ion-label>Routes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="slots">
      <ion-label>Slots</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div id="slots" *ngSwitchCase="'slots'">
      <ion-datetime
        size="cover"
        [min]="minDate"
        presentation="date"
        (ionChange)="dateChanged($event)"
      ></ion-datetime>

      <ion-list *ngFor="let gymSlot of gymSlots">
        <!-- <ion-list-header color="primary">
          <ion-label>Slots</ion-label>
        </ion-list-header> -->
        <ion-card
          *ngIf="gymSlot.vacancies > 0 && (gymSlot.date > minDate || gymSlot.startTime > currTime)"
          (click)="onClick(gymSlot.gymSlotId)"
          [class.active]="selectedSlot == gymSlot.gymSlotId"
        >
          <ion-card-title
            >{{gymSlot.startTime}} to {{gymSlot.endTime}}</ion-card-title
          >
          <ion-card-subtitle>
            Vacancies: {{gymSlot.vacancies}}
          </ion-card-subtitle>
        </ion-card>
        <!-- <ion-item *ngIf="gymSlots?.length == 0" lines="none"
          >No Slots Available :(</ion-item
        > -->
      </ion-list>
    </div>

    <div id="routes" *ngSwitchCase="'routes'">
      <ion-item>
        <ion-label>Sort Routes by Rating</ion-label>
        <ion-select [(ngModel)]="sort" (ionChange)="sortRoutes()">
          <ion-select-option [value]="0">--Select Order--</ion-select-option>
          <ion-select-option value="1">Ascending</ion-select-option>
          <ion-select-option value="2">Descending</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let route of routes">
            <ion-card (click)="redirect(route.routeId)">
              <ion-card-header>
                <ion-card-title>{{route.routeName}}</ion-card-title>
                <ion-card-subtitle
                  >Rating: {{route.routeRating}}</ion-card-subtitle
                >
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-grid>
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>Color</ion-col>
          <ion-col>Location</ion-col>
          <ion-col>Rating</ion-col>
        </ion-row>
        <ion-row *ngFor="let route of routes">
          <ion-col>{{ route.routeName }}</ion-col>
          <ion-col>{{ route.color }}</ion-col>
          <ion-col>{{ route.location }}</ion-col>
          <ion-col>{{ route.routeRating }}</ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- <ion-list>
        <ion-item
          *ngFor="let route of routes"
          (click)="redirect(route.routeId)"
        >
          <ion-label>{{route.routeName}}</ion-label>
          <ion-label
            *ngIf="route.routeRating == enums.RouteRatingEnum.VB || route.routeRating == enums.RouteRatingEnum.V0to1 || route.routeRating == enums.RouteRatingEnum.V1to2"
            class="rating-easy"
            slot="end"
            >{{route.routeRating}}</ion-label
          >

          <ion-label
            *ngIf="route.routeRating == enums.RouteRatingEnum.V2to4 || route.routeRating == enums.RouteRatingEnum.V4to6"
            class="rating-med"
            slot="end"
            >{{route.routeRating}}</ion-label
          >

          <ion-label
            *ngIf="route.routeRating == enums.RouteRatingEnum.V6to8 || route.routeRating == enums.RouteRatingEnum.aboveV8"
            class="rating-hard"
            slot="end"
            >{{route.routeRating}}</ion-label
          >
        </ion-item>
      </ion-list> -->
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" *ngIf="selectedSlot > 0" (click)="bookSlot()"
      >Book Slot</ion-button
    >
  </ion-toolbar>
</ion-footer>
