.active {
  border: 3px solid black !important;
}

.rating-easy {
  margin: 4px;
  padding: 8px;
  background-color: rgb(255, 200, 0);
  border-radius: 5px;
}

.rating-med {
  margin: 4px;
  padding: 8px;
  background-color: rgb(255, 98, 0);
  border-radius: 5px;
}

.rating-hard {
  margin: 4px;
  padding: 8px;
  background-color: red;
  border-radius: 5px;
}
