<ion-header>
  <ion-toolbar>
    <ion-title>create-route-review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Rating</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let key of routeRatingKeys">
        <ion-label
          (click)="onClick(key)"
          *ngIf="key == enums.RouteRatingEnum.VB || key == enums.RouteRatingEnum.V0to1 || key == enums.RouteRatingEnum.V1to2"
          class="rating-easy"
          [class.active]="selectedRating == key"
          >{{key}}</ion-label
        >

        <ion-label
          (click)="onClick(key)"
          *ngIf="key == enums.RouteRatingEnum.V2to4 || key == enums.RouteRatingEnum.V4to6"
          class="rating-med"
          [class.active]="selectedRating == key"
          >{{key}}</ion-label
        >

        <ion-label
          (click)="onClick(key)"
          *ngIf="key == enums.RouteRatingEnum.V6to8 || key == enums.RouteRatingEnum.aboveV8"
          class="rating-hard"
          [class.active]="selectedRating == key"
          >{{key}}</ion-label
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-textarea
    placeholder="Add a review here!"
    [(ngModel)]="routeReview.content"
    required
    rows="10"
  >
  </ion-textarea>

  <ion-button (click)="createReview()">Create Review</ion-button>
</ion-content>
