<ion-header>
  <ion-toolbar>
    <ion-title>{{route?.routeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item> {{route?.description}} </ion-item>

  <ion-list>
    <ion-list-header color="primary">
      <ion-label>Route Reviews</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let routeReview of routeReviews">
      <ion-card-content> {{routeReview.content}} </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
