ion-icon {
  font-size: 64px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

ion-card {
  padding: 8px;
}

ion-button {
  width: 50%;
}
