<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item color="dark">
    <ion-label position="floating">Username</ion-label>
    <ion-input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="customer.username"
      required
    >
    </ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label position="floating">Password</ion-label>
    <ion-input
      type="text"
      id="password"
      name="password"
      [(ngModel)]="customer.password"
      required
    >
    </ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label position="floating">Email</ion-label>
    <ion-input
      type="text"
      id="email"
      name="email"
      [(ngModel)]="customer.email"
      required
    >
    </ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Select Subscription Plan</ion-label>
    <ion-select
      placeholder="Select One Subscription Plan"
      id="subscriptionPlan"
      name="subscriptionPlan"
      #category="ngModel"
      [(ngModel)]="subscriptionPlan"
      required="true"
    >
      <ion-select-option
        *ngFor="let subscriptionPlan of subscriptionPlans"
        value="{{subscriptionPlan.name}}"
        >{{subscriptionPlan.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-content color="dark">
    <ion-item color="dark">
      <ion-label position="floating">Credit Card Number</ion-label>
      <ion-input type="text" id="cardNum" required> </ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="floating">CVV</ion-label>
      <ion-input type="text" id="cvv" required> </ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="floating">Expiry Date</ion-label>
      <ion-input type="text" id="expDate" required> </ion-input>
    </ion-item>

    <ion-button
      color="medium"
      expand="block"
      fill="outline"
      (click)="createCustomer()"
      >Create your ClimbCircle Account Now!
    </ion-button>
  </ion-content>
</ion-content>
